<section class="container">
    <div class="row top-header">
        <div class="col-8"><h2 id="page-header">Users List</h2></div>
        <div class="col-4">
            <button (click)="userForm.reset(); openModal(addUserModal)" class="btn btn-dark">Add user</button>
        </div>
    </div>

    <div class="user-list">
        <div class="table-responsive">
            <table class="table users-table" aria-describedby="page-header">
                <thead class="gray-head">
                    <tr>
                        <td></td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Company Name</td>
                    </tr>
                </thead>
                <tbody>
                    @if (loadingDetails.isFetching) {
                        <tr>
                            <td [colSpan]="4" class="text-center">
                                <div class="loader"></div>
                            </td>
                        </tr>
                    } @else {
                        @if (users.length > 0) {
                            @for (user of users; track user.id) {
                                <tr>
                                    <td class="text-center">
                                        <img class="user-avatar" [ngSrc]="avatarUrl" alt="User avatar" width="100" height="100">
                                    </td>
                                    <td><a [routerLink]="[user.id]">{{ user.name }}</a></td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.company.name }}</td>
                                </tr>
                            }
                        } @else {
                            <tr>
                                <td [colSpan]="4" class="text-center">No users to show</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        @if (users.length > 0) {
            <div class="row">
                <div class="col-2"></div>

                <ul class="pagination col-6">
                    <li class="page-item" [class.disabled]="pageDetails.pageNumber === 1">
                        <a class="page-link" routerLink="" [queryParams]="{ page: pageDetails.pageNumber - 1 }" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    @for (details of generatePages(); track users.length) {
                        <li class="page-item" [class.disabled]="pageDetails.pageNumber === details.value">
                            <a class="page-link" routerLink="" [queryParams]="{ page: details.value }">{{ details.page }}</a>
                        </li>
                    }

                    <li class="page-item" [class.disabled]="pageDetails.pageNumber === pageDetails.max">
                        <a class="page-link" routerLink="" [queryParams]="{ page: pageDetails.pageNumber + 1 }" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>

                <div class="col-2"></div>

                <div class="col-2 form-group">
                    <select [(ngModel)]="pageDetails.size" (ngModelChange)="changePageSize()" class="form-control" name="page-sizes" id="page-size-select">
                        <option value="3">3 users per page</option>
                        <option value="5">5 users per page</option>
                        <option value="10">10 users per page</option>
                    </select>
                </div>
            </div>
        }
    </div>
</section>


<ng-template #addUserModal>
    <div class="modal-header">
        <h2 class="modal-title pull-left">Add User</h2>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.close()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form #formRef="ngForm" [formGroup]="userForm" class="row" (ngSubmit)="saveUser()">
            <!-- Name -->
            <div class="form-group col-md-3">
                <label for="name-input">Name</label>
                <input [ngClass]="{ 'is-invalid': assertControlInValidity(userForm.controls.name, formRef) }" formControlName="name" type="text" name="name" id="name-input" class="form-control">
            </div>

            <!-- username -->
            <div class="form-group col-md-3">
                <label for="username-input">username</label>
                <input [ngClass]="{ 'is-invalid': assertControlInValidity(userForm.controls.username, formRef) }" formControlName="username" type="text" name="username" id="username-input" class="form-control">
            </div>

            <!-- Email -->
            <div class="form-group col-md-3">
                <label for="email-input">Email</label>
                <input [ngClass]="{ 'is-invalid': assertControlInValidity(userForm.controls.email, formRef) }" formControlName="email" type="email" name="email" id="email-input" class="form-control">
            </div>

            <!-- Phone -->
            <div class="form-group col-md-3">
                <label for="phone-input">Phone</label>
                <input [ngClass]="{ 'is-invalid': assertControlInValidity(userForm.controls.phone, formRef) }" formControlName="phone" type="text" name="phone" id="phone-input" class="form-control">
            </div>

            <!-- Website -->
            <div class="form-group col-md-3">
                <label for="website-input">Website</label>
                <input [ngClass]="{ 'is-invalid': assertControlInValidity(userForm.controls.website, formRef) }" formControlName="website" type="text" name="website" id="website-input" class="form-control">
            </div>

            <div class="col-md-12 form-header">
                <h4>Address</h4>
            </div>

            <!-- Address -->
            <div formGroupName="address" class="col-md-12 row">
                <!-- Address.street  -->
                <div class="form-group col-md-4">
                    <label for="a-street-input">Street</label>
                    <input [ngClass]="{ 'is-invalid': assertControlInValidity(userForm.controls.address.controls.street, formRef) }" formControlName="street" type="text" name="a-street" id="a-street-input" class="form-control">
                </div>

                <!-- Address.suite  -->
                <div class="form-group col-md-4">
                    <label for="a-suite-input">Suite</label>
                    <input [ngClass]="{ 'is-invalid': assertControlInValidity(userForm.controls.address.controls.suite, formRef) }" formControlName="suite" type="text" name="a-suite" id="a-suite-input" class="form-control">
                </div>

                <!-- Address.city  -->
                <div class="form-group col-md-4">
                    <label for="a-city-input">City</label>
                    <input [ngClass]="{ 'is-invalid': assertControlInValidity(userForm.controls.address.controls.city, formRef) }" formControlName="city" type="text" name="a-city" id="a-city-input" class="form-control">
                </div>

                <!-- Address.zipcode  -->
                <div class="form-group col-md-4">
                    <label for="a-zipcode-input">Zipcode</label>
                    <input [ngClass]="{ 'is-invalid': assertControlInValidity(userForm.controls.address.controls.zipcode, formRef) }" formControlName="zipcode" type="text" name="a-zipcode" id="a-zipcode-input" class="form-control">
                </div>


                <!-- Address.geo  -->
                <div class="col-md-8 row" formGroupName="geo">
                    <!-- Address.lat  -->
                    <div class="form-group col-md-6">
                        <label for="a-lat-input">Latitude</label>
                        <input [ngClass]="{ 'is-invalid': assertControlInValidity(userForm.controls.address.controls.geo.controls.lat, formRef) }" formControlName="lat" type="text" name="a-lat" id="a-lat-input" class="form-control">
                    </div>

                    <!-- Address.lng  -->
                    <div class="form-group col-md-6">
                        <label for="a-lng-input">Longitude</label>
                        <input [ngClass]="{ 'is-invalid': assertControlInValidity(userForm.controls.address.controls.geo.controls.lng, formRef) }" formControlName="lng" type="text" name="a-lng" id="a-lng-input" class="form-control">
                    </div>
                </div>
            </div>

            <div class="col-md-12 form-header">
                <h4>Company</h4>
            </div>
            <!-- company -->
            <div formGroupName="company" class="col-md-12 row">
                <!-- company.name -->
                <div class="form-group col-md-4">
                    <label for="c-name-input">Company Name</label>
                    <input [ngClass]="{ 'is-invalid': assertControlInValidity(userForm.controls.company.controls.name, formRef) }" formControlName="name" type="text" name="c-name" id="c-name-input" class="form-control">
                </div>

                <!-- company.catchphrase -->
                <div class="form-group col-md-4">
                    <label for="c-catchphrase-input">Company Catchphrase</label>
                    <input [ngClass]="{ 'is-invalid': assertControlInValidity(userForm.controls.company.controls.catchPhrase, formRef) }" formControlName="catchPhrase" type="text" name="c-catchphrase" id="c-catchphrase-input" class="form-control">
                </div>

                <div class="form-group col-md-4">
                    <label for="bs-input">Business Statement</label>
                    <textarea [ngClass]="{ 'is-invalid': assertControlInValidity(userForm.controls.company.controls.bs, formRef) }" formControlName="bs" class="form-control" name="bs" id="bs-input" cols="12" rows="3"></textarea>
                </div>

            </div>

            <div class="col-md-12 row action-row">
                <div class="col-md-7"></div>
                <div class="col-md-4 row">
                    <button (click)="modalRef.close()" class="btn btn-outline-info col-md-5">Cancel</button>
                    <div class="col-md-2"></div>
                    <button [disabled]="loadingDetails.isSaving" type="submit" class="btn btn-outline-dark col-md-5">
                        {{ loadingDetails.isSaving? "Saving": "save" }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
