<section class="container">
    <h2 id="page-header">Users List</h2>

    <div class="user-list">
        <div class="table-responsive">
            <table class="table users-table" aria-describedby="page-header">
                <thead class="gray-head">
                    <tr>
                        <td></td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Company Name</td>
                    </tr>
                </thead>
                <tbody>
                    @if (loadingDetails.isFetching) {
                        <tr>
                            <td [colSpan]="4" class="text-center">
                                <div class="loader"></div>
                            </td>
                        </tr>
                    } @else {
                        @if (users.length > 0) {
                            @for (user of users; track user.id) {
                                <tr>
                                    <td class="text-center">
                                        <img class="user-avatar" [ngSrc]="avatarUrl" alt="User avatar" width="100" height="100">
                                    </td>
                                    <td><a href="#">{{ user.name }}</a></td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.company.name }}</td>
                                </tr>
                            }
                        } @else {
                            <tr>
                                <td [colSpan]="4" class="text-center">No users to show</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        @if (users.length > 0) {
            <div class="row">
                <div class="col-2"></div>

                <ul class="pagination col-6">
                    <li class="page-item" [class.disabled]="pageDetails.pageNumber === 1">
                        <a class="page-link" routerLink="" [queryParams]="{ page: pageDetails.pageNumber - 1 }" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    @for (details of generatePages(); track users.length) {
                        <li class="page-item" [class.disabled]="pageDetails.pageNumber === details.value">
                            <a class="page-link" routerLink="" [queryParams]="{ page: details.value }">{{ details.page }}</a>
                        </li>
                    }

                    <li class="page-item" [class.disabled]="pageDetails.pageNumber === pageDetails.max">
                        <a class="page-link" routerLink="" [queryParams]="{ page: pageDetails.pageNumber + 1 }" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>

                <div class="col-2"></div>

                <div class="col-2 form-group">
                    <select [(ngModel)]="pageDetails.size" (ngModelChange)="changePageSize()" class="form-control" name="page-sizes" id="page-size-select">
                        <option value="3">3 users per page</option>
                        <option value="5">5 users per page</option>
                        <option value="10">10 users per page</option>
                    </select>
                </div>
            </div>
        }
    </div>
</section>
